* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: var(--pri);
}

:root {
  --pri: #1a3263;
  --sec: #547792;
  --tri1: #fab95b;
  --tri2: #e8e2db;
}
.heading {
  width: 100%;

  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  color: var(--tri2);
}

.form form {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: center;
}
.form form,
input,
textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
}
.form form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--tri1);
  cursor: pointer;
}
.form form button:active {
  scale: 0.96;
}
.notes {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}
.notes .note {
  background: var(--tri1);
  width: 20%;
  padding: 1rem;
  border-radius: 10px;
}
.note .actions {
  background: var(--sec);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}
.note .content {
  padding: 1rem;
  background: var(--tri2);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content h1 {
  font-size: 1.3rem;
}
.content p {
  font-size: 13px;
}
.btn {
  padding: 0.4rem;
  margin-right: 0.2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: var(--tri2);
  cursor: pointer;
}
.btn:active {
  scale: 0.96;
}
.btn:nth-child(1) {
  background: rgb(195, 3, 3);
}
.btn:nth-child(2) {
  background: royalblue;
}
