* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #000;
}

.notes {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  flex-wrap: wrap;
  padding: 50px;
}
.note {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 250px;
}
