* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #111;
}
.notes {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.note {
  width: 20rem;
  background: royalblue;
  padding: 30px 20px;
  border-radius: 10px;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note h1 {
  text-transform: capitalize;
  color: #fff;
}
.note p {
  padding: 10px;
  background: #434242a4;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}
.ourNotes {
  color: #fff;
  text-align: center;
  padding: 30px 0 0 0;
}

.note:hover {
  scale: 0.96;
}
